.AboutContainer {
    display: flex;
    justify-content: center;
}

.about-content {
    display: flex;
    max-width: 80%; /* Adjust as needed */
    padding: 20px;
}

.about-image {
    flex: 1;
    margin-right: 1.5rem;
    margin-top: 10rem;
    height: 20rem;
}

.about-image img {
    width: 100%;
    max-width: 70%; 
    background-position: left;
    

}

.about-text {
    flex: 2;
    font-size: 20px;
    font-family: "Roboto";
    line-height: 1.5;
    
}
